.profile__edit-button {
	width: 24px;
	height: 24px;
	padding: 0;
	margin: 32px 0 0 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
	opacity: 1;
	transition: opacity 0.3s ease-in;
	background-image: url(../../../images/profile/profile__edit-button.svg);
	background-size: contain;
}

.profile__edit-button:hover {
	opacity: .7;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
  		margin: 8px 0 0 0;
  		width: 18px;
		height: 18px;
  }
}