.element-grid__image-like {
	width: 22px;
	height: 19px;
	transition: opacity 0.3s ease-in;
	cursor: pointer;
	background-image: url(../../../images/element-grid/element-grid__like.svg);
	border: 0;
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	flex-shrink: 0; 
}

.element-grid__image-like:hover {
	opacity: .5;
}