.popup__form-button {
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	border: 0;
	padding: 14px 0;
	margin: 48px 0 0 0;
	transition: opacity 0.3s ease-in;
	cursor: pointer;
	border-radius: 2px;
	line-height: 21.78px;
	font-weight: 400;
}

.popup__form-button:hover {
	opacity: .8;
}

@media screen and (max-width: 767px) {
	.popup__form-button {
		line-height: 16.94px;
		font-size: 14px;
	}
}